<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://jandalhuysen.github.io/tailwindcss.js"></script>
    <title>Error</title>
  </head>
  <body>
    <div class="flex justify-center h-screen bg-gray-800">
      <div class="bg-gray-900 h-1/4 w-1/2 mt-12">
        <div>
          <p
            class="flex font-mono font-family: consolas text-blue-300 justify-center py-6"
          >
            Please enter your name!
          </p>
        </div>
        <div>
          <p
            class="flex font-mono font-family: consolas text-blue-300 justify-center py-6"
          >
            This field cannot be empty!
          </p>
        </div>
        <div>
          <p
            class="flex font-mono font-family: consolas text-blue-300 justify-center py-6"
          >
            Please try again.
            <a
              class="font-mono font-family: consolas text-white hover:text-gray-300"
              href="http://localhost:5000/signup"
            >
              &nbspSign Up&nbsp</a
            >page.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
